<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Más de 20 años de experiencia</h2>
                <hr class="light">
                <p class="text-faded">La doctora tiene más de 20 años de experiencia como cirujano dentista, después de graduarse de la Universidad Autonoma de Nuevo León en 1998. Cédula profesional: 2635648. Así como con diversos diplomados, entre ellos el de Odontopediatría.</p>
                <a href="#" class="btn btn-default btn-xl">Conocer Más</a>
            </div>
        </div>
    </div>
</section>
