<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tu clinica dental familiar</h2>
                <hr class="light">
                <p class="text-faded">¡Bienvenidos a Clinica Dental Alvessa, donde sonreír es cosa de familia! Desde los más pequeñitos hasta los más experimentados, cuidamos de las sonrisas de todos. Descubre la razón por la que somos la elección preferida para la salud dental en México. ¡Hagamos brillar tu sonrisa juntos!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
