<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><b></b>Tu clinica dental familiar</b></h2>
                <hr class="light">
                <p class="text-faded">¡En Clinica Dental Alvessa sonreír es cosa de familia! Con atención para los más pequeñitos hasta los más experimentados; cuidamos de las sonrisas de todos. Descubre la razón por la que somos la elección preferida para la salud dental en México. ¡Hagamos brillar tu sonrisa juntos!</p>
                <a href="{{ site.facebook_page }}" class="btn btn-default btn-xl target="_blank"">Visitanos en Facebook</a>
            </div>
        </div>
    </div>
</section>
